
<!--
<h1>New article</h1>

<%= form_for @article do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>

  <%= f.label :content, "Content" %>
  <%= f.text_field :content %>

  <%= f.submit "Create Article" %>
<% end %>

<p><%= link_to "Back", articles_path %></p>
 -->

<body><h1>New article</h1>

&lt;%= render 'form' %&gt;

&lt;%= link_to 'Back', articles_path %&gt;
</body>
